{:nrepl {:port 7002}
 :builds
        {:app
               {:target     :browser
                :output-dir "target/cljsbuild/public/js"
                :asset-path "/js"
                :modules    {:app {:entries [sample3.app]}}
                :devtools   {:watch-dir "resources/public"
                             :preloads  [day8.re-frame-10x.preload]}
                :dev        {:closure-defines {re-frame.trace.trace-enabled? true
                                               day8.re-frame.tracing.trace-enabled? true}}
                :release    {:build-options
                             {:ns-aliases
                              {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}
         :test {:target  :node-test, :output-to "target/test/test.js"
                :autorun true}}
 :lein  {:profile "+dev"}}
